<h4>Categorias</h4>
<hr>

{{#each categorias}}
    <ul>
        <li>
            <a href="/categorias/{{slug}}" class="nav-item"><h5>{{nome}}</h5></a>
        </li>
    </ul>
    

{{else}}


{{/each}}